APP_HOST=http://localhost

SA_PASSWORD=ChangeMe_StrongPassword_123!
JWT_PRIVATE_KEY_PEM=base64_or_escaped_pem_rsa_private_key
JWT_PUBLIC_KEY_PEM=base64_or_escaped_pem_rsa_public_key
JWT_KEY_ID=passwordmanager-rsa

SMTP_HOST=smtp.mail.ru
SMTP_PORT=587
SMTP_FROM=your_email@example.com
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_smtp_app_password
SMTP_ENABLE_SSL=true
