APP_HOST=http://localhost

SA_PASSWORD=ChangeMe_StrongPassword_123!
JWT_KEY=ChangeMe_Long_Jwt_Key_At_Least_32_Chars

SMTP_HOST=smtp.mail.ru
SMTP_PORT=587
SMTP_FROM=your_email@example.com
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_smtp_app_password
SMTP_ENABLE_SSL=true